#sherbimet1 { 
    background-color: #C1EFFF;
    padding-top: 100px; 
    padding-bottom: 20px;
}

#sherbimet1 h1{ 
    text-align: center;
    padding-bottom: 100px;
    color: #00337C;
    font-weight: 900;
} 

#sherbimet1 img{ 
    width: 200px;
    height: 100px;
}